.form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    max-width: 80%;
    width: 100%;
    margin: 0 auto;

    padding: 24px;

    border: 4px solid var(--light-text);
    border-radius: 18px;
}

.form-group .form-icon {
    font-size: 14px;
    color: var(--light-grey);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.form-group .form-icon img {
    height: 30px;
}

.form-group h3 {
    font-size: 24px;
    color: var(--medium-text);
    font-weight: 300;
}

.form-radios {
    border-top: 1px solid var(--light-text);
    width: 100%;
}