<form class="form-group">
    <div class="form-icon">
        <img src="/assets/images/png/icon-hour.png" />
        Horário
    </div>

        <label for="">

            <h3>Qual período quer treinar?</h3>
        </label>

        <input type="radio" name="" id=""> Manhã 06:00 às 12:00
        <input type="radio" name="" id=""> Tarde 12:01 às 18:00
        <input type="radio" name="" id=""> Noite 18:01 às 23:00

        <div>
            <input type="checkbox" name="" id=""> Exibir unidades fechadas

            Resultado encontrados: 0
        </div>


        <button>
            Encontrar unidade
        </button>

        <button>
            Limpar
        </button>
</form>