/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-black.woff2');
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-bold.woff2');
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-book.woff2');
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-light.woff2');
}
